.vscode
.Identifier
temp.*
**/.vscode
temp
quick_finish_os_lab1
*.o
*.bin
data_structure/lab/bin/graph
data_structure/lab/bin/hash
data_structure/lab/bin/huffman
data_structure/lab/bin/Parking
data_structure/lab/bin/search
data_structure/lab/bin/Joseph