<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>登记项目</title>
    <link rel="stylesheet" href="/static/css/my.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">
</head>

<body>
    <div class="total-wrap">
        <div class="left-wrap">
            <div class="left-blank"></div>
            <div class="left-text-wrap">
                <p class="left-text"><i class="fa fa-home"></i> <a href="/">管理主页</a></p>
            </div>
            <div class="left-text-wrap">
                <p class="left-text"><i class="fa fa-book"></i> <a href="/paper">登记论文</a></p>
            </div>
            <div class="left-text-wrap">
                <p class="left-text"><i class="fa fa-file"></i> <a href="/project">登记项目</a></p>
            </div>
            <div class="left-text-wrap">
                <p class="left-text"><i class="fa fa-pencil-square"></i> <a href="/course">登记课程</a></p>
            </div>
            <div class="left-text-wrap">
                <p class="left-text"><i class="fa fa-search"></i> <a href="/search">查询内容</a></p>
            </div>
            <form method="post" style="margin-top:70px;margin-left: 30%;margin-right: auto;"><button
                    class="btn btn-primary" type="submit">登出</button></form>
        </div>
        <div class="right-wrap">
            <div class="welcome">
                欢迎使用教学科研登记系统
            </div>
        </div>
    </div>
</body>

</html>